@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P';
    background-color: #fff;
    margin: 0;
    padding: 0;
} 

/* Header */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1.5rem;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2.5rem;
}

.logo-container h1 {
    font-size: 32px;
    font-weight: 400;
}

.mealminer-logo-header {
    width: 3rem;
    height: 3rem;
    color: #1E1E1E;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.nav-container {
    display: flex;
    margin-left: auto;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'Anonymous Pro';
    color: #1E1E1E;
    font-size: 2rem;
    transition: all .3s ease 0s;
}

.header-buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-right: 3rem;
}

.header-btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 0.8rem;
    background-color: #FEE59F;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
}

/* Left Logo */
.mealminer-logo-main {
    width: 450px;
    height: 450px;
    margin-left: -5rem;
}

/* Text */
.text-content {
    max-width: 650px;
}

/* Title and subtitle */
.title-section h1 {
    font-size: 4.5rem;
    font-weight: 400;
}

.motto {
    font-family: 'Anonymous Pro';
    font-size: 2rem;
    color: #222;
    margin: 2rem 0rem;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.signup-container,
.login-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.nav-signup-button,
.nav-login-button {
    background-color: #FEE59F;
    font-family: 'Press Start 2P';
    font-size: 1.2rem;
    width: 312px;
    height: 70px;
    text-align: center;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-signup-button:hover,
.nav-login-button:hover {
    transform: scale(1.05);
}

.signup-text,
.login-text {
    font-family: 'Anonymous Pro';
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.4rem;
    color: #444;
}

