<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMiner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/index_images/logo.svg') }}" alt="MealMiner Logo" class="mealminer-logo-header">
            <h1>mealminer</h1>
        </div>

        <nav class="nav-container">
            <ul class="nav-links">
                <li><a href="#">FAQs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="header-buttons">
            <a href="{{ url_for('auth.signup') }}" class="header-btn">Make Chest</a>
            <a href="{{ url_for('auth.signup') }}" class="header-btn">Open Chest</a>
        </div>
    </header>
    <div class="main-content">
        <div class="content-wrapper">

            <img src="{{ url_for('static', filename='images/index_images/logo.svg') }}" alt="MealMiner Logo" class="mealminer-logo-main">
            
            <div class="text-content">
                <div class="title-section">
                    <h1>mealminer</h1>
                    <p class="motto">Have your chest of favorite recipes nearby and organized no matter where your adventures may take you.</p>
                </div>
                
                <div class="button-container">
                    <div class="signup-container">
                        <a href="{{ url_for('auth.signup') }}" class="nav-signup-button">Make Chest</a>
                        <p class="signup-text">Sign Up</p>
                    </div>
                    <div class="login-container">
                        <a href="{{ url_for('auth.signup') }}" class="nav-login-button">Open Chest</a>
                        <p class="login-text">Log In</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>